@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,700;1,400&family=Poppins:wght@500&display=swap');
.buttonL{
  background-color: #ff4f63;
  font-family: 'Poppins', sans-serif;
  font-size: 10px;
  color:white;
  padding: 8px 60px;
  border-radius: 20px;
}

h1{
  font-family: 'DM Sans', sans-serif;
  font-weight: 400;
  font-size: 40px;
}

h2{
  font-family: 'DM Sans', sans-serif;
  font-weight: 700;
  font-size: 30px;
}

p{
  font-family: 'DM Sans', sans-serif;
  font-weight: 400;
  font-size: 10px;
}

.img1{
  margin-top: 50px;
  width: 350px;
  height: 250px;
  border-radius: 10px;
}

.imgC{
  width:150px;
  border-radius: 10px;
  height: 200px;
}

.column {
  float: left;
  padding: 10px;
}

/* Left and right column */
.column.side {
  width: 30%;
  padding-left: 30px;
}

/* Middle column */
.column.middle {
  width: 50%;
  padding: 3%;
}

/* Clear floats after the columns */
.rowM::before {
  content: "";
  display: table;
  clear: both;
  padding-top: 20px;
}

.rowM::after {
  content: "";
  display: table;
  clear: both;
}
.column.sideC {
  margin-top: 30px;
  width: 15%;
}

/* Middle column */
.column.middleC {
  width: 30%;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column.side, .column.middle {
    width: 100%;
  }
}